<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="../static/css/style_0.css">
    <link rel="stylesheet" href="../static/css/style_01.css">
    <link rel="stylesheet" href="../static/css/font.css">
</head>

<body>
    <nav class="menu-nav">
        <div class="hamburger-btn" id="hamburger-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="sidebar" id="sidebar">
            <ul class="menu_items">
                <li><a href="./index" class="menu_item">首頁</a></li>
                <li><a href="http://www.tapmc.com.taipei/Pages/Trans/Price1" class="menu_item">蔬果價格查詢</a></li>
                <li><a href="./index1" class="menu_item">數據圖表</a></li>
                <li><a href="./index2" class="menu_item">價格預測</a></li>
            </ul>
        </div>
    </nav>
    <h1>Welcome</h1>
    <br>

    <div class="container">
        <div class="custom-line1"></div>
        <div class="go-predict">
            <a href="./index2">
                <button class="custom-button">價格預測<br>開始</button>
            </a>
        </div>
    </div>
    <div class="fullscreen-bg">
        <img src="../static/img/background-03.jpg" alt="">
    </div>

    <script src="../static/js/index_01.js"></script>
    <script src="../static/js/index_0.js"></script>
</body>

</html>